<div class="container">
  <div class="body">
    <div class="boxBody">
      <input type="text" [(ngModel)]="searchQuery" 
          placeholder="Start Typing and see the magic happening................." 
          (input)="weatherData(searchQuery)" async>
        <div class="card">
          <span class="card-sections">
            <div class="first-section">
                <p class="displayedTime">{{this.time | date:'shortTime'}} </p>
            </div>
            <div class="lower-section">
              <div class="photo_section">
                <div class="timeChecker">
                  <div *ngIf="this.formattedTime>=4 && this.formattedTime<14">
                    <img src="../assets/day_photo.jpeg">
                  </div>
                  <div *ngIf="this.formattedTime>=14 && this.formattedTime<18">
                    <img src="../assets/evening_photo.jpeg" id="eveningID">
                  </div>
                  <div *ngIf="this.formattedTime>=18 && this.formattedTime<24">
                    <img src="../assets/night_photo.png">
                  </div>
                  <div *ngIf="this.formattedTime>=0 && this.formattedTime<4">
                    <img src="../assets/night_photo.png">
                  </div>
                </div>
              </div>
              <div class="text_section" *ngIf="searchResults">
                  <p> <img src="assets/location.png" id="locationID">&nbsp;<strong>{{searchResults.location.name}}</strong></p>
                  <p><img src="assets/map.png" id="countryID">&nbsp;<strong>{{searchResults.location.country}}</strong></p>
                  <p><strong>Condition</strong>&nbsp;<img src="{{searchResults.current.condition.icon}}" id="conditionIconID"></p>
                  <p><img src="assets/Temperature.png" id="temperatureID"> <strong>{{searchResults.current.temp_c}} °C</strong></p>
                  <p><img src="assets/humidity.jpg" id="humidityID"><strong>{{searchResults.current.humidity}}</strong></p>
                  <p><img src="assets/wind.jpg" id="windID">&nbsp;<strong>{{searchResults.current.wind_kph}}</strong></p>  
              </div>
            </div>
          </span>
        </div>
     
    </div>
  </div>
</div>
