/* You can add global styles to this file, and also import other style files */

:root {
    --blue-1: #2d39e8;
    --blue-2: #4C52AD;
    --yellow-1: #FAC742;
    --white: #FFF;
    --grey-1: #EDEDED;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    background-color: var(--blue-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
    margin-left: auto;
    margin-right: auto;
}
